#container {
  display: grid;
  height: 400px;
  width: 400px;

  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.item {
  border: 2px solid grey;
  border-radius: 2px;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:hover {
  background-color: grey;
  cursor: pointer;
}
